.root{
    -fx-background-color: #383838;
}
.glyph-icon {
    -fx-fill: -fx-primarytext;
}
.label{
    -fx-text-fill: #e8e8e8;
}
.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-size: 30;
    -fx-border: none;
}
.button:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #AB4642;
}

#bold-label-150{
     -fx-font-weight: bold;
     -fx-font-size: 150;
}

#bold-label-50{
    -fx-font-weight: bold;
    -fx-font-size: 50;
}

.toggle-button {
  -fx-background-image: url('/src/Images/unselected.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.toggle-button:selected {
  -fx-background-image: url('/src/Images/unselected.png');
}