*{
    -fx-primary : #383838;
    -fx-secundary : #AB4642;
    -fx-primarytext : #e8e8e8;
}
.root{
    -fx-background-color: -fx-primary;
    -fx-pref-width: 700;
    -fx-pref-height: 800;
}
.glyph-icon {
    -fx-fill: -fx-primarytext;
}

/* Entries */
.text-field{
    -fx-text-fill: -fx-primarytext;
}
.text-field-short{
    -fx-max-width: 30;
    -fx-background-color: -fx-primary;
}

/* Label */
.label{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 50;
}
.bold-label-150{
    -fx-font-weight: bold;
    -fx-font-size: 150;
}

.bold-label-50{
    -fx-font-weight: bold;
    -fx-font-size: 50;
}
.bold-label-25{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

/* Tab */
.tab{
    -fx-pref-width: 335;
    -fx-pref-height: 60;
    -fx-background-color: -fx-secundary;
}
.tab-header-background{
    -fx-background-color: -fx-secundary;
    -fx-alignment: Center;
}

/* Button */
.button{
    -fx-background-color: -fx-secundary;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-size: 30;
    -fx-border: none;
}
.button:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: -fx-secundary;
}